NEXT_PUBLIC_ASGARDEO_BASE_URL="https://api.asgardeo.io/t/orgsacma"
NEXT_PUBLIC_ASGARDEO_CLIENT_ID="your_client_id"
# Leave ASGARDEO_CLIENT_SECRET empty for Single-Page Application (SPA with PKCE)
ASGARDEO_CLIENT_SECRET=""
NEXT_PUBLIC_ASGARDEO_ENABLE_PKCE="true"
NEXT_PUBLIC_ASGARDEO_SCOPES="openid profile email offline_access"
ASGARDEO_SECRET="dummy_asgardeo_secret_32_chars_long_key_string!!"
ASGARDEO_CLIENT_ID="your_client_id"
NEXT_PUBLIC_ASGARDEO_SIGN_IN_URL="http://localhost:3000/login"
NEXT_PUBLIC_ASGARDEO_AFTER_SIGN_IN_URL="http://localhost:3000/"
NEXT_PUBLIC_ASGARDEO_AFTER_SIGN_OUT_URL="http://localhost:3000/login"

JOBMATCH_API_URL=http://localhost:8080
NEXT_PUBLIC_API_URL=http://localhost:8080

